Node-Red_Mobile_flows.json
[{"id":"cebe629e37033d3e","type":"tab","label":"bereket flow","disabled":false,"info":""},{"id":"ce8babd80726d15a","type":"text-to-speech","z":"cebe629e37033d3e","name":"text","x":1290,"y":820,"wires":[[]]},{"id":"5fa8c678f31e342a","type":"alert","z":"cebe629e37033d3e","name":"","x":1290,"y":900,"wires":[[]]},{"id":"3ef6274c4230c117","type":"function","z":"cebe629e37033d3e","name":"","func":"msg.payload = {\n    \"text\": \"There is an Intruder in Timothy's house. Be Alert!\",\n    \"lang\": \"en-US\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1120,"y":820,"wires":[["ce8babd80726d15a"]]},{"id":"99349bdf62a10442","type":"mqtt in","z":"cebe629e37033d3e","name":"number-1","topic":"topic/siren","qos":"2","datatype":"utf8","broker":"36335e6f114577a5","nl":false,"rap":true,"rh":0,"x":920,"y":880,"wires":[[]]},{"id":"1903928006021f63","type":"function","z":"cebe629e37033d3e","name":"","func":"msg.payload = {     \"message\": \"There is an intruder next door\",     \"title\": \"ALERT\",     \"buttonName\": \"Ok\" }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1120,"y":880,"wires":[["5fa8c678f31e342a"]]},{"id":"a11a3d8e227ac1e5","type":"inject","z":"cebe629e37033d3e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":930,"y":980,"wires":[["3ef6274c4230c117","1903928006021f63"]]},{"id":"974f8f27bc56087d","type":"ui_spacer","z":"cebe629e37033d3e","name":"spacer","group":"672f8d0dbf96bb91","order":1,"width":1,"height":1,"className":""},{"id":"36335e6f114577a5","type":"mqtt-broker","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"bob","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"672f8d0dbf96bb91","type":"ui_group","name":"Dashboard","tab":"b440b12306a4d4b3","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"b440b12306a4d4b3","type":"ui_tab","name":"HomeSec","icon":"Dashboard","order":1,"disabled":false,"hidden":false}]